<div id="wrapper">
  <%= render "shared/sidebar" %>
  <!-- End of Sidebar -->
  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <div class="container">
        <div class="row">
          <% @notebooks.each do |notebook| %>
            <div class="col-md-4">
              <div class="card notebook-card mb-4 ">
                <div class="card-body">
                  <h4 class='card-title d-flex justify-content-between'>
                    <%= link_to notebook.title,notebook %>
                    <!-- Example split danger button -->
                    <div class="btn-group">
                      <button type="button" class="btn btn-outline-info dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-h"></i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right">
                        <td><%= link_to 'Edit', edit_notebook_path(notebook), class: 'dropdown-item'%></td>
                        <td><%= link_to 'Delete', notebook, method: :delete, data: { confirm: 'Are you sure?' }, class: 'dropdown-item' %></td>
                      </div>
                    </div>
                  </h4>
                  <div class="stats mb-4">
                    <p class="page-count">
                      <%= notebook.pages.count %> pages
                    </p>
                    <p class="started">
                      Last updated at <%= notebook.updated_at.strftime("%A, %B, %e, %Y") %>
                    </p>
                  </div>
                  <%= link_to 'View', notebook, class: 'btn btn-primary' %>
                  <td>
                    <%= link_to notebook_path(notebook, format: :pdf),class: 'btn btn-outline-secondary' do %>
                      <i class="fa-solid fa-file-pdf"></i>
                    <% end %>
                  </td>
                </div>
              </div>
            </div>
            <% end %>
        </div>
      </div>
      <!-- End of Main Content -->
    </div>
  </div>
</div>
<!-- End of Content Wrapper -->
