<div class='row'>
    <div class='col-md-12'>
        <%= link_to new_notebook_page_path(@notebook),class: 'btn btn-primary float-right mb-3' do %>
            <i class="fas fa-plus "></i> Add Page
        <% end %><!-- Main Content -->
    </div>
</div>
<div class="row">
    <% @notebook.pages.each do |page| %>
        <div class="col-md-4 mb-3 col-sm-6 col-lg-3">
            <div class="card-group">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="card-title d-flex justify-content-between">
                            <h5><%= link_to (page.title || 'No title').truncate(20), notebook_page_path(@notebook, page) %></h5>
                            <div>
                                <%= link_to notebook_page_path(@notebook, page, format: :pdf),class: 'text-info' do %> <i class="fa-solid fa-file-pdf"></i>
                                    <% end %>
                                <%= link_to notebook_page_path(@notebook,page), method: :delete, data: { confirm:"Are you sure?" },class: 'text-danger' do %> <i class="fas fa-trash "></i>
                                    <% end %>
                            </div>
                        </div>
                        <p class="card-text">
                            <%= strip_tags(page.content).to_s.truncate_words(10) %>
                        </p>
                    </div>
                    <div class="card-footer"> <small class="text-muted">Last modified at <%= @notebook.updated_at.strftime("%A, %B, %e, %Y") %></small> </div>
                </div>
            </div>
        </div>
    <% end %>
</div>
