<div id="wrapper">
    <%= render "shared/sidebar" %>
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <div class="container">
                    <%= render 'shared/breadcrumbs' %>
                    <div class="float-right">
                <%= link_to new_notebook_page_path(@notebook),class: 'btn btn-primary ' do %>Add Page <i class="fas fa-plus "></i>
                                                        <% end %>

        </div>
                        <!-- Main Content -->
                        <div class="row">
                            <% @notebook.pages.each do |page| %>
                                <div class="col-md-4">
                                    <div class="card-group">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title d-flex justify-content-between"> <%= link_to page.title, notebook_page_path(@notebook, page) %>


                                                </h5>
                                                <p class="card-text">
                                                    <%= strip_tags(page.content).truncate_words(10) %>
                                                </p>
                                                <td>
                                                    <%= link_to notebook_page_path(@notebook, page, format: :pdf),class: 'btn btn-outline-secondary ' do %> <i class="fa-solid fa-file-pdf"></i>
                                                        <% end %>
                                                </td>
                                                <td>
                                                    <%= link_to notebook_page_path(@notebook,page), method: :delete, data: { confirm:"Are you sure?" },class: 'btn btn-outline-danger ' do %> <i class="fas fa-trash "></i>
                                                        <% end %>
                                                </td>
                                            </div>
                                            <div class="card-footer mb-2"> <small class="text-muted"><b>Last modified at <%= @notebook.updated_at.strftime("%A, %B, %e, %Y") %></b></small> </div>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                </div>
            </div>
        </div>
</div>







