<nav class="navbar   navbar-expand navbar-light  p-5 mb-0 ">
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <% if (user_signed_in?) %>
 <a id="home"></a>
  <div id="logo">
    <a href="/">
     <%= image_tag("logo.png",width:"180", height:"" ,alt:"")%>
      &nbsp;
  </div>
          <% else %>
              <a href="/">
     <%= image_tag("logo.png",width:"180", height:"" ,alt:"")%>


      <% end %>
    </ul>
  </div>
  <!-- Topbar Navbar -->
  <div class="navbar-nav ">
    <% if !(user_signed_in?) %>
    <%= link_to "Sign In", new_user_session_path, class: 'btn btn-sm btn-primary ' %>&nbsp;
        <%= link_to "Register", new_user_registration_path, class: 'btn btn-sm btn-primary' %>
      <% else %>
        <div class="topbar-divider d-none d-sm-block"></div>
        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow ">


          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="mr-2 d-none d-lg-inline text-gray-600 small">
            <div class="typography h6 mt-4">
            Welcome, <%= current_user.username %>!
          </span>
            <%= image_tag(current_user.avatar_thumbnail) if current_user.avatar.attached? %>

          </div>
        </a>

          <!-- Dropdown - User Information -->
          <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
            <%= link_to edit_user_registration_path,class: "dropdown-item" do%> <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> Edit Your profile
              <%end%>

                <%= link_to destroy_user_session_path,method: :delete,class: 'dropdown-item' do%> <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Log Out
                  <% end %>
          </div>
        </li>
  </div>
  <% end %>
    </div>
</nav>
