<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
    <%= image_tag("logo.png",width:"180", height:"" ,alt:"") %>
  </a>
  <!-- Divider -->
  <hr class="sidebar-divider my-0">
  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item active">
    <%= link_to notebooks_path, class: "nav-link pb-0" do %>
      <h5>All Notebooks</h5></a>
    <% end %>
  </li>
  <li class="nav-item">
    <% @user_notebooks.each do |notebook| %>
      <a class="nav-link collapsed" href="#notebook-<%= notebook.id %>" data-toggle="collapse" data-target="#notebook-<%= notebook.id %>" aria-expanded="true" aria-controls="collapseTwo">
        <i class="fa-solid fa-book-journal-whills"></i><%= (notebook.title || 'No title').truncate(20) %>
      </a>
      <div id="notebook-<%= notebook.id %>" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <% notebook.pages.each do |page| %>
            <%= active_link_to [notebook, page], class: "collapse-item" do %>
              <i class="fa fa-file-text"></i> <%= (page.title || 'No title').truncate(20) %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </li>
  <div class="sidebar-card d-none d-lg-flex">
    <p class="text-center mb-2"><strong>Journal It</strong>: Express your thoughts and feelings freely.</p>
  </div>
</ul>
<script type="text/javascript">
  window.notebook_id = '<%= params[:notebook_id] ? params[:notebook_id] : nil %>'
</script>
