<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <!-- Sidebar - Brand -->

  <!-- Divider -->
  <hr class="sidebar-divider my-0">
  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="/"> </a>
  </li>
  <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
    <div class="input-group mr-2">
      <%= form_with url: notebooks_path, method: :get do |form| %>
        <%= form.search_field :query, placeholder: 'Search...', class: 'form-control' %>
      <% end %>
    </div>
  </form>
  <br>
  <!-- Divider -->
  <hr class="sidebar-divider">
  <!-- Heading -->
  <div class="sidebar-heading"> New Notebook
    <div class="buttons ">
      <%= link_to new_notebook_path, class: 'btn btn-outline-info',data: {toggle: 'modal', target: '#newNotebookModal', remote: true} do %>
        <i class="fa-solid fa-circle-plus "></i>
      <% end %>
    </div>
  </div>
  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"> <i class="fa-solid fa-book-journal-whills"></i>Notebooks </a>
    <a class="nav-link collapsed" href="/notebooks" aria-expanded="true" aria-controls="collapseTwo"> <i class="fa-solid fa-book-journal-whills"></i>My Notebooks </a>

    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <% @user_notebooks.each do |notebook| %>
          <div class="btn-group"> <i class="fa-solid fa-book"></i>
            <%= link_to notebook.title,notebook,class: "dropdown-item "%><br>
          </div>
        <% end %>
      </div>
    </div>
  </li>
  <div class="sidebar-card d-none d-lg-flex">
    <p class="text-center mb-2"><strong>Journal It</strong>: Express your thoughts and feelings freely.</p>
  </div>
</ul>

<!-- Modal -->
<div class="modal fade" id="newNotebookModal" tabindex="-1" aria-labelledby="newNotebookModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newNotebookModalLabel">New Notebook</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="container">
        <%= form_with(model: Notebook.new) do |form| %>
          <div class="field mb-2 mt-2">
            <%= form.text_field :title, class: 'form-control', placeholder: 'Title' %>
          </div>
          <div class="modal-footer">
            <div class="actions">
              <%= form.submit class: 'btn btn-primary'%>
            </div>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
