<div class="form-content mt-3">
  <%= form_with(model: [@notebook, @page], id: "page-content-form", local: true) do  |form|%>
    <%= form.hidden_field :content, class: "page-content" %>
    <div id="editor-container" style="height: 50rem; width: 100%;">
      <%= raw(@page.content) %>
    </div>
    <div class="buttons mt-3">
      <%= form.submit "Save", class: 'btn btn-info' %>
      <a href="#" class="cancel btn btn-secondary">Cancel</a>
      <div class="float-right">
        <span id='auto-save-status' class='p-1'>
          <% if @page.updated_at %>
            Last modified <%= time_ago_in_words(@page.updated_at) %> ago.
             Total Words: <%= @page.content.split.size %>
          <% end %>
        </span>


      </div>
    </div>
  <% end %>
</div>
