<div class='d-flex justify-content-between mb-4'>
  <div class="title" style="width:80%">
    <div class="text-content">
      <h2 class="cursive">
        <%= @page.title.present? ? @page.title : 'TITLE....' %>
      </h2>
    </div>
    <div class="form-content d-none">
      <%= form_with(model: [@notebook, @page], local: false, class: 'form-inline') do  |form|%>
        <%= form.text_field :title, class: 'form-control w-75' %>
        <%= form.button type: 'submit', class: 'btn btn-link p-0' do %>
          <i class="fas fa-fw fa-check"></i>
        <% end %>
        <a href="#" class="cancel text-danger"><i class="fas fa-fw fa-times"></i></a>
      <% end %>
    </div>
  </div>
              <%= link_to notebook_page_path(@notebook, format: :pdf),class: 'btn btn-outline-secondary' do %>
              <i class="fa-solid fa-file-pdf"></i>
            <% end %>
  <%= DateTime.current.strftime("%A, %e %B ") %>
</div>
