<div class="container mt-3">
<h4 class='d-flex justify-content-between  mb-4'>
  <div>
    <%= @page.title %>

    <%= link_to edit_notebook_page_path(@notebook, @page) ,class: 'btn btn-outline-info ' do%> <i class="fa-solid fa-pen-fancy"></i>
    <% end %>

  </div>

  <div>
    <%= form_with(model: [@notebook, @page, @paragraph], html: { class: 'float-left'}) do  |form|%>
      <%= form.submit "Add paragraph", class: 'btn btn-primary ml-1' %>
    <% end %>
    <%= form_with(model: [@notebook, @page, @image_element], html: { class: 'float-left'}) do  |form|%>
      <%= form.submit "Add Image", class: 'btn btn-primary ml-1' %>
    <% end %>
     <%= form_with(model: [@notebook, @page, @checklist], html: { class: 'float-left'}) do  |form|%>
      <%= form.submit "Add Checklist", class: 'btn btn-primary ml-1' %>
    <% end %>
  </div>
</h4>


<div class="col-lg-10 offset-lg-1">
  <%= render @page.elements %>

</div>
</div>

