<%= render 'title_form' %>
<%= render 'page_form' %>
<div class="text-right mt-2">
  <%= form_with(model: [@notebook, @page, @checklist], local: true) do  |form|%>
    <%= form.submit "Add Checklist", class: 'btn btn-primary mb-0 ' %>
  <% end %>
</div>
<%= render @page.checklists %>

<script type="text/javascript">
  function savePage() {
    $('#auto-save-status').html('Saving...').removeClass('text-danger').removeClass('text-success');

    // updated input with latest QuillJS content
    body = document.querySelector('input[class=page-content]');
    body.value = document.querySelector(".ql-editor").innerHTML;

    var form = $('form#page-content-form').serialize();
    $.ajax({
      type: 'PUT',
      url: '/notebooks/<%= @notebook.id %>/pages/<%= @page.id %>.json',
      data: form,
      dataType: 'JSON',
      success: function(response) {
        $('#auto-save-status').html('Last saved ' + response['updated_at'] + ' ago').removeClass('text-danger').addClass('text-success')
      },
      error: function() {
        $('#auto-save-status').html('Autosave Failed. Please try saving.').removeClass('text-success').addClass('text-danger');
      }
    });
  }

  document.addEventListener('turbolinks:load', () => {
    setInterval(savePage, 10000);
  });
</script>
